{% extends 'base.html'%}
{% load static %}
{% block titulo %}
        <title>Com. Cris. "La Magdalena" | Edificadores</title>
{% endblock titulo %}
{% block carousel %}

{% endblock carousel %}
{% block publicidad %}

{% endblock publicidad %}
{% block container %}
<!-- SECCION 1 -->
	<section> 
  <div id="tramo">
    </div>

<div class="bgedsec1">
  <div class="container pt-md-5 pb-md-5 pt-4 pb-4">
    <div id="imagen1" class="row pl-3">
      <div class="col-12 col-md-6 pl-0 pr-0 d-none d-md-block">
          <img src={% static 'images/ed1.jpg' %} class="img-fluid" alt="Responsive image">
      </div>
      <div id="edsec1" class="col-12 col-md-6 pl-md-0 pr-md-0 pl-1 pr-1">
        <p class="text-justify"> Se trata de un muro espiritual, cuya función es dar cobertura y protección a la iglesia local y de todo el mundo.
          Este MURO, lo empezó a construir El Señor Jesucristo, y nos ha encargado en principio  a un grupo de intercesores de la Comunidad Cristiana de la Magdalena, y a Byron Quito, pastor de CCM, en particular el continuar con la construcción  de este muro.
          Byron Quito: El señor me ha pedido que continúe su construcción, me ha provisto de un grupo de intercesores. Me ha dado instrucciones precisas de cómo hacerlo. </p>
      </div>
    </div>
    <div class="row pl-3">
      <div id="edsec2"  class="col-12 col-md-6 pl-md-0 pr-md-0 pl-1 pr-1">
        <p class="text-justify">
                Es un MURO de FE, lo sustenta las oraciones de los santos.
                Estas oraciones, son fervientes peticiones intercesoras a favor del pueblo, pidiendo, perdón de pecados, misericordia, y protección contra los ataques del enemigo.
                Fortaleza frente a las tentaciones, sean de la carne, del mudo, o del enemigo. <br>
               Este MURO, da cobertura a creyentes dentro de ciudades, casas, edificios.
               El propósito es que nadie se pierda, que mantengan su fidelidad e integridad hasta el fin de sus días en la tierra. </p>

      </div>
      <div id="imagen2" class="col-12 col-md-6 pl-0 pr-0 d-none d-md-block" >
        <img src={% static 'images/ed2.jpg' %} class="img-fluid" alt="Responsive image">

      </div>
    </div>
    <div id="imagen3" class="row pl-3">
      <div class="col-12 col-md-6 pl-0 pr-0 d-none d-md-block">
          <img src={% static 'images/ed3.jpg' %} class="img-fluid" alt="Responsive image">
      </div>
      <div id="edsec3" class="col-12 col-md-6 pl-0 pr-0">
        <p class="text-justify">
            También me ha encargado la misión de enseñar al grupo de intercesores, para que ellos vayan a otros lugares y enseñen lo mismo, porque ellos serán portadores de salvación y vida eterna.
            El Señor me ha hecho saber: de todo el mundo te llamarán para conocer y aprender acerca de cómo construir este MURO protector.
            Inspirados en el libro Nehemías, que habla de la obra de un hombre de FE, temeroso de Dios, estratega que llevó a a cabo la reconstrucción del muro de la ciudad de Jerusalén.


          </p>
    </div>


  </div>

    </div>
</section>

<!--Tabla-->
	
		<section> 
	    <div id="PagBlog2" class="pt-4 pb-4 offset-xl-0 col-xl-12">
        <div role="main" class="container">
            <div class="row">
                <div class="blog-main col-xl-12 col-lg-12 col-md-12 col-12">
					<h1 class=" pb-4 mb-4 borde mt-4" align="center"><b>CALENDARIO DE ORACION INTERCESORA CONTRA LA PANDEMIA CORONAVIRUS Y PARA CONSTRUIR Y PROTEGER EL MURO </b></h1> 
                    
                    <h3 class="pb-4 mb-4 borde" align="center"> Para toda la Iglesia de Nuestro Señor Jesucristo </h3>
					
                    <div class="blog-post blog">
							
							<div class="pb-4 pt-4 mb-4 borde">
							<table class="table table-bordered table-dark mt-3 mb-3 table-responsive">
							  <thead>
								<tr align="center">
								  <th scope="col">No</th>
								  <th scope="col">TEMAS DE ORACIÓN TIPO A,B,C,D</th>
								  <th scope="col">PALABRA DE RESPALDO.</th>
								</tr>
							  </thead>
							  <tbody>
								<tr>
								  <th scope="row">A</th>
								  <td>Oraciones de alabanza, adoración y gratitud a Dios</td>
								  <td>Salmo 103:1-2; Salmo 118:1-4; 1ª Corintios 6:20; Salmo 148:11-13; <b>Isaías 9:6 </b>; Apocalipsis 1:8; 4:8; Apocalipsis 15:4</td>
								</tr>
								<tr>
								  <th scope="row">B</th>
								  <td>Oración arrepintiéndonos por todos los pecados, propios y ajenos de la iglesia y la humanidad.</td>
								  <td>Daniel 9:3-5; 9:16-19. Hebreos 4:14-16; </td>
								</tr>
								<tr>
								  <th scope="row">C</th>
								  <td>Oración pidiendo a Dios sanidad para su pueblo y la humanidad. (se detenga el avance del coronavirus y toda enfermedad). Se halle la cura, y se encuentre una vacuna.</td>
								  <td>Éxodo 15: 22-26;Isaías 53:4-5; 1ª Pedro 2:24;</br>Salmo 91: 1-16; Salmo 103:1-4;</td>
								</tr>
								<tr>
								  <th scope="row">D</th>
								  <td>Oración construyendo un vallado o MURO espiritual  de protección alrededor de la iglesia, y defendiéndolo, mediante la oración Intercesora, para que el enemigo NO lo dañe, ni lo toque.</td>
								  <td>Ezequiel 22:30; Nehemías 1:3-4; 2:17-18; 4:1; 4:6-8; 4; 16,21. </br>Isaías 54:17; Apocalipsis 12:11</td>
								</tr>
							  </tbody>
							</table>

						
						
							<table class="table table-bordered  table-responsive">
							  <thead class="thead-light">
								<tr align="center">
								  <th scope="col">HORA</th>
								  <th scope="col">TEMAS DE ORACIÓN TIPO “E” </th>
								  <th scope="col">PALABRA DE RESPALDO</th>
								</tr>
							  </thead>
							  <tbody>
								<tr>
								  <th scope="row">1</th>
								  <td>Por Haber lastimado a Dios, causándole dolor y tristeza, por el pecado de su pueblo.</td>
								  <td>Jeremías 8:18-22; 9:1—3.; Jeremías 2:5; Isaías 53:3-7</td>
								</tr>
								<tr>
								  <th scope="row">2</th>
								  <td>Que el Señor escuche nuestras oraciones intercesoras.</td>
								  <td>Nehemías 1:5-8; 1ª Crónicas 7:14; Salmo 5:1-2; Marcos 11:22-26; 1ª Juan 5:14-15</td>
								</tr>
								<tr>
								  <th scope="row">2</th>
								  <td>Que el Señor tenga misericordia de su pueblo, y lo perdone.</td>
								  <td>Nehemías 1: 9-10;  Jeremías 33:6-10; Hebreos 4:14-16</td>
								</tr>
								<tr>
								  <th scope="row">3</th>
								  <td>Oración pidiendo perdón, porque por causa del pecado la tierra ha sido contaminada, atraído sequía y carencias</td>
								  <td>Jeremías 3:2,3,9; 3: Amos 4:7-8; Isaías 24:1-6; Génesis 3:17-20</td>
								</tr>
								 <tr>
								  <th scope="row"> </th>
								  <td>Oración contra la incredulidad.</td>
								  <td>Hebreos 3:12-16; Efesios 1:3-14; Apocalipsis 21:8;</td>
								</tr>
								 <tr>
								  <th scope="row">4</th>
								  <td>Oración contra la tibieza, liviandad, y doble ánimo</td>
								  <td>Apocalipsis 3:15-22; Santiago 1:6-8;<b>Hebreos 6:1</b> Mateo 6:24; Romanos 12:11-12</td>
								</tr>
								<tr>
								  <th scope="row">5</th>
								  <td>Oración contra la dureza de corazón</td>
								  <td>Amos: 4:6-10; 3:7-19; Proverbios 28:14</td>
								</tr>
								  <tr>
								  <th scope="row">6</th>
								  <td>Oración contra la infidelidad (Fornicación, adulterio espiritual) del pueblo </td>
								  <td>Jeremías 3:6-15;     4:1-4;    ¸3:19-22</td>
								</tr>
								  <tr>
								  <th scope="row">7</th>
								  <td>Oración contra ingratitud el pueblo (cuando ya tienen todo se olvidan de Dios, todo les he dado)</td>
								  <td>2 Timoteo 3:1-2; Deut. 32:1-29; Isaías 1:2</br>Romanos 1:21-25; Salmo 103:1-5</td>
								</tr>
								  <tr>
								  <th scope="row">8</th>
								  <td>Oración contra la mundanidad en la iglesia (fiestas, música, vicios, los ídolos)</td>
								  <td>Efesios 4: 17-32; Santiago 4:1-4; 1ª Juan 2:15-17;<b>2ª Corintios 5:9-10; </b></td>
								</tr>
								  <tr>
								  <th scope="row">9</th>
								  <td>Oración para que la iglesia sea limpiada de toda contaminación.</td>
								  <td>2ª  Corintios 7:1; Daniel 1:8; Mateo15:11; Colosenses 3:8; 1ª Corintios 6: 16-18.</td>
								</tr>
								  <tr>
								  <th scope="row">10</th>
								  <td>Oración reconociendo que la salvación solo proviene de Dios</td>
								  <td>Romanos 10:9-10; Romanos 3:23-25; Santiago 1:17-18; Juan 3:16-17</td>
								</tr>
								  <tr>
								  <th scope="row">11</th>
								  <td>Oración para que la iglesia aprenda a ser paciente y a esperar en el Señor.</td>
								  <td>Lamentaciones 3:24-26; 2ª Pedro 3:9; Santiago 5:7</td>
								</tr>
								  <tr>
								  <th scope="row">12</th>
								  <td>Oración para que el pueblo escuche la voz de Dios.</td>
								  <td>Proverbios 4:20-21; Éxodo 15:26; Juan 10:27-28; </td>
								</tr>
								  <tr>
								  <th scope="row">13</th>
								  <td>Oración para que el pueblo de Dios obedezca a su palabra.</td>
								  <td>Deuteronomio 28:1-14; 1ª Juan 2:5; Juan 15:6-7 Amos 3:7</td>
								</tr>
								  <tr>
								  <th scope="row">14</th>
								  <td>Oración porque la iglesia restaure el temor a Dios.</td>
								  <td>2ª Corintios 7:1; Proverbios 1:7; Hebreos 12:28-29; <b>Hebreo 5:7</b></td>
								</tr>
								  <tr>
								  <th scope="row">15</th>
								  <td>Oración por la santidad de la iglesia.</td>
								  <td>2ª Tesalonicenses 2:13; 1ª Pedro 1:14-16; Hebreos 12:14; Hebreos 13:12; </td>
								</tr>
								  <tr>
								  <th scope="row">16</th>
								  <td>Oración, La victoria viene del Señor, con el poder de su Espíritu Santo.</td>
								  <td>Romanos 8:28-39; 2ª Timoteo 4:7-8; Hechos 1:8; Hechos 4:30-31; Romanos 15:18-19</td>
								</tr>
								  <tr>
								  <th scope="row">17</th>
								  <td>Oración para que toda lengua confiese con su boca a Jesucristo como su Señor, su salvador, su creador, como el Gran Yo Soy.</td>
								  <td>Juan 1:1-4;<b>14</b> Hebreos 1:1-3; <b>Colosenses 1:15-16</b>;Romanos 10:9-10; Filipenses 2:9-11, <b>Isaías 9:6 </b> Juan; 8:24,28;<b>14:21,23</b> </td>
								</tr>
								  <tr>
								  <th scope="row">18</th>
								  <td>Oración para que la fe crezca</td>
								  <td>Santiago 1:6-8; Lucas 17. 5-6; Marcos 11:22-24;Jeremías 17:5-8</td>
								</tr>
								  <tr>
								  <th scope="row">19</th>
								  <td>Oración para que la iglesia se prepare y salga a evangelizar, y sanar llevando la palabra a cada una de las personas que no creyeron con el poder del espíritu santo</td>
								  <td>Mateo 9:35-38; Romanos 10:14; 1ª Corintios 9:16-17; Isaías 61:1-3; Hechos 1:8; Romanos 15:19</td>
								</tr>
								  <tr>
								  <th scope="row">20</th>
								  <td>Oración para que las familias aprendan la palabra de Dios, y sus padres asuman la responsabilidad de ser sacerdote del hogar</td>
								  <td>Deuteronomio 6:5-9; Proverbios 1:8-9; 2ª Timoteo 1:5;3:15; Proverbios 22:6; 19:18; </td>
								</tr>
								  <tr>
								  <th scope="row">21</th>
								  <td>Oración por la restauración del ministerio sacerdotal de la Iglesia</td>
								  <td>1ª Pedro 2:9; Apocalipsis 1:5-6; Hebreos 4:14-16; Hebreos 10:19-22.</td>
								</tr>
								  <tr>
								  <th scope="row">22</th>
								  <td>Oración para que se restaure el modelo de familia que Dios planeó, el amor entre esposos e hijos, el respeto….</td>
								  <td>Génesis 1:27-28; Efesios 5:21-24; Efesios 6:1-3; 1ª Pedro 5:5</td>
								</tr>
								  <tr>
								  <th scope="row">23</th>
								  <td>Oración por consuelo esperanza de los muertos en Cristo Jesús un día los veremos. </td>
								  <td>1ª Tesalonicenses 4:13-18; Apocalipsis 14:13; Juan 11:25</td>
								</tr>
								  <tr>
								  <th scope="row">24</th>
								  <td>Oración para que la iglesia esté protegida,  se ponga la armadura de Dios</td>
								  <td>Efesios 6:10-18; Salmo 16: 1-11; Isaías 54:17; Sal 27; Rom 8:35-39; Salmo 91; </td>
								</tr>
								  
							  </tbody>
							</table>
							</div>
	
							<h3 class="pb-4 pt-4 mb-4 borde" align="center"> METODO DE ORACIÒN 24/7 PARA LA IGLESIA  (Comunidad Cristiana la Magdalena y Comunidad Cristiana Guangopolo) </h3>
	
							<p class="pb-4 mb-4 borde"> El señor nos ha pedido toda la iglesia ore sin cesar, orar de día y de noche. Cada uno orará por una cosa y por una palabra</p>
							
							<div class="pb-4 mb-4 borde">
							<h5>OBJETIVOS:</h5>
							<p class="pt-2" align="justify">Por lo tanto nuestro  primer objetivo será orar todo el tiempo, para alcanzar misericordia del Señor, el perdone los pecados, y se detenga el avance del coronavirus, se halle la cura, y una vacuna efectiva y barata.</p>
							<p align="justify">Y el otro objetivo importante es orar por levantar un MURO espiritual que proteja a la iglesia contra los ataques del enemigo, y que la iglesia se fortalezca desde su interior con la sana doctrina, afirmándose en meditar y cumplir la palabra de Dios, y en la comunión con el Espíritu Santo.</p>
							</div>
	
							<div class="pb-4 mb-4 borde">
							<h5>ESTRATEGIA DE ORACIÒN Y ADORACIÒN.</h5>
							<p class="pt-2" align="justify">Cada familia, o de ser el caso hermano o hermana, tendrá una hora para adorar a Dios e interceder, distribuyendo el tiempo de la siguiente manera:</p>
							<p align="justify">Las cuatro primeras oraciones (llamadas Tipo: A, B, C, D) que se hará cada día, son fijas. Toda la iglesia orará con un clamor ferviente a toda hora, y hay una quinta oración llamada Tipo E, que varía cada día, y debe consultar en la lista de oraciones que van del uno al 24. Cual le toca ese día.</p>
							<div class="pt-2"> 
								<p><b>Tiempo A:</b> Los primeros veinte minutos serán de alabanza, adoración, combinados con las oraciones  A, y No 17</br>Luego tendremos cuatro tiempos de diez minutos cada uno, lo que da un  total de cuarenta minutos.</p>
							</div>
							<div class="pt-2"> 
								<p><b>Tiempo B: </b> Oración B. Arrepintiéndonos por todos los pecados, propios y ajenos de la iglesia y la humanidad.</p>
							</div>
							<div class="pt-2"> 
								<p><b>Tiempo C: </b> Oración pidiendo a Dios sanidad para su pueblo y la humanidad. Se detenga el avance del coronavirus y toda enfermedad. Se halle la cura, y una vacuna efectiva y barata.</p>
							</div>
							<div class="pt-2"> 
								<p><b>Tiempo D. :</b> Oración construyendo un vallado o MUERO espiritual  de protección alrededor de la iglesia, y defendiéndolo, mediante la oración Intercesora, para que el enemigo NO lo dañe, ni lo toque.</p>
							</div>
							<div class="pt-2"> 
								<p><b>Tiempo E:</b> Esta Oración es variable, cambia cada día y va desde la número 1 a la número 24</p>
							</div>
							</div>
							<div class="pb-4 mb-4 borde">
							<h5>Como identificar cual es la oración Tipo E, que me toca ese día:</h5>
							<p class="pt-3" class="pt-2" align="justify">Cada familia (o hermana, o hermano de ser el caso), será designada con un número que va del 1 al 24.</p>
							<p class="pt-3" align="justify">Para entender voy a poner un ejemplo: Suponiendo que empiezo a orar el dia lunes, y  Si mi familia tiene el número 14, oraré las cuatro primeras oraciones (Tipos A, B, C, D), como se indicó en los párrafos anteriores, y la quinta oración, es decir la Tipo E, será la oración número 14, que dice “Oración porque la iglesia restaure el temor a Dios.”.</p>
							<p class="pt-3" align="justify">Al siguiente día, es decir el día martes oraré las cuatro primeas oraciones (Tipos A, B, C, D), y la quinta oración, es decir la tipo E, será la oración número 15, que dice: “Oración por la santidad de la iglesia.”</p>
							<p class="pt-3" align="justify">El siguiente día, es decir el miércoles, oraré  las cuatro primeas oraciones (Tipos A, B, C, D), y la quinta oración, es decir la tipo E, será la oración número 16, que dice: “Oración, La victoria viene del Señor, con el poder de su Espíritu Santo.”</p>
							</div>
								
							<div class="pb-4 mb-4 borde">
							<h5>Instrucciones para la Oración diaria: </h5>
							<h6 class="pl-4 pt-3">1.	Cada día oraremos  en el horario que le toque durante una hora (60 minutos). </h6>
							<h6 class="pt-3">Tiempo estimado en cada oración: </h6>
							<p class="pt-3" align="justify">• Para Literal A. 20 minutos</p>
							<p class="pt-3" align="justify">• Para literal B 10 minutos.</p>
							<p class="pt-3" align="justify">• Para literal C 10 minutos.</p>
							<p class="pt-3 pb-3" align="justify">• Para literal D. 10 minutos (esta oración variará cada día).</p>
							
							

							<table class="table table-bordered table-responsive table-dark">
							  <thead>
								<tr align="center">
								  <th scope="col"> </th>
								  <th scope="col">TIEMPO<br>Minutos</th>
								  <th scope="col">TEMA</th>
								  <th scope="col">PALABRA DE RESPALDO</th>
								</tr>
							  </thead>
							  <tbody>
								<tr>
								  <th scope="row">A</th>
								  <td>20min</td>
								  <td>Tiempo de alabanza, adoración y gratitud a Dios combinado con oraciones</br><b>Oración A  y oración No 17 </b></td>
								  <td>Salmo 103:1-2; Salmo 118:1-4; 1ª Corintios 6:20; Salmo 148:11-13;<b>Isaías 9:6</b>; Apocalipsis 4:8; Apocalipsis 15:4</td>
								</tr>
								<tr>
								  <th scope="row">B</th>
								  <td>10min</td>
								  <td><b>Oración  B.</b> Oración arrepintiéndonos por todos los pecados, propios y ajenos de la iglesia y la humanidad </td>
								  <td>Daniel 9:3-5; 9:16-19. Hebreos 4:14-16;</td>
								</tr>
								<tr>
								  <th scope="row">C</th>
								  <td>10min</td>
								  <td><b>Oración  C.</b> Oración pidiendo a Dios sanidad para su pueblo y la humanidad. (se detenga el avance del coronavirus y toda enfermedad). Se halle la cura, y se encuentre una vacuna.</td>
									<td>Éxodo 15: 22-26;Isaías 53:4-5; 1ª Pedro 2:24;</br>Salmo 91: 1-16; Salmo 103:1-4;</td>
								</tr>
								  <tr>
								  <th scope="row">D</th>
								  <td>10min</td>
								  <td><b>Oración D.</b> Por la construcción de un vallado o <b>MURO</b> espiritual  de protección alrededor de la iglesia, y defendiéndolo, mediante la oración Intercesora, para que el enemigo NO lo dañe, ni lo toque.</td>
									  <td>Ezequiel 22:30; Nehemías 1:3-4; 2:17-18; 4:1; 4:6-8; 4; 16,21. Isaías 54:17; Apocalipsis 12:11</td>
								</tr>
								  <tr>
								  <th scope="row">E</th>
								  <td>10min</td>
								  <td>(esta oración variará cada día de acuerdo a lo que le toque por familia)</td>
									<td>         </td>
								</tr>
							  </tbody>
							</table>
							</div>
							

							<div class="pb-4 mb-4 borde">

								<h5 >EXPLICACIÒN COMO DEBEMOS ORAR Y ADORAR</h5>
								
								<p class="pt-3" align="justify">Considerando que estas oraciones son familiares, todos los miembros de la familia deben participar en la oración intercesora y en la adoración. Es conveniente que antes de orar cada tema se reparta entre sus miembros los textos para leer y orar.</p>
								
								<p class="pt-3 pl-3" align="justify"><b>1.	La primera oración</b> está unida a un tiempo inicial de alabanza y adoración.</p> 
								
								<p class="pt-3" align="justify">Luego de haber adorado, lea uno de los textos de la Biblia tanto del Tipo A, como los textos de la oración No 17 (Si no alcanza a leer y orar todos los textos, hágalo al siguiente día)</p>
								
								<p class="pt-3" align="justify">Ore dando gracias a Dios, exaltando el nombre del Padre y de Nuestro Señor Jesucristo. Los demás miembros de la familia acompañan la oración siguiendo el sentido de lo que se esté orando, y lo que dice el texto bíblico. </p>
								
								<p class="pt-3" align="justify">Luego tome otro texto Bíblico, léalo, y ore la palabra, ore biblia,  enfocado en este caso en dar gracias a Dios.</p>
								
								<p class="pt-3 pl-3" align="justify"><b>2.	Para las oraciones tipo: A, B, C, D, E. </b> Cada miembro de la familia tome un texto, léalo y ore fervientemente el tema que se ha pedido, aplicando lo que el texto Bíblico dice a la petición de la oración. </p>
								
								<p class="pt-3" align="justify">Los demás miembros de la familia acompañan la oración, en el mismo sentir, no oren otra cosa diferente a lo que está orando en ese momento su familiar. </p>
								
								<p class="pt-3" align="justify">En caso de no entender o no estar de acuerdo con lo que ora, quédese en silencio, y espere su turno.</p>
								
								<p class="pt-3 pl-3" align="justify"><b>3.	Las oraciones personales,  </b> Cada miembro de la familia tome un texto, léalo y ore fervientemente el tema que se ha pedido, aplicando lo que el texto Bíblico dice a la petición de la oración. </p>
								
								<p class="pt-3" align="justify">En caso de sentir que no está bien espiritualmente, antes de empezar la oración en familia, póngase a cuentas con el señor, y restáurese.</p>
								
								<p class="pt-3" align="justify">Si el asunto es familiar, arregle su situación y permita que el Señor le bendiga, a causa de su anhelo por obedecerle a él con la oración.</p>
								
								<p class="pt-3 pl-3" align="justify"><b>4.	Si durante este tiempo de adoración y oración intercesora, usted recibe una palabra del Señor, una visión, anótelo, y reporte al responsable del Grupo de Hogar, o al pastor./p>
								
								<p class="pt-3 pl-3" align="justify"><b>5.	Una semana después de haber iniciado este método de oración, evaluaremos, y de ser necesario rotaremos los horarios, con la finalidad de que no se haga pesado, en especial para las familias que les toque orar en la madrugada.</p>
								

							</div>

							</div>
                    </div>
				</div>
        	</div>
    	</div>
		</div>
		</section>
	
<!--tabla-->




<!-- SECCION2 -->
<div id="tramo">
    </div>
<div class="fondo1 esp">
    <div class="tit">
	<h2 class="t-g stroke" align="center">PERTENECER AL MURO</h2>
	</div>
    <div class="cont-f">
  <form  method="POST" class="formstyle" ac>
  {% csrf_token %}
  <!--<p align="center"><i>“Clama a mí y te responderé, y te daré a conocer cosas grandes y ocultas que tú no sabes.”</i></p><p align="center">Jeremías 33:3</p>-->
   <label>Persona o Institución</label>
  <select class="custom-select custom-select-sm" name="tipe">

  <option selected>Seleccionar</option>
  <option value="Persona Natural">Persona Natural</option>
  <option value="Institución">Institución</option>
</select>
  <label> Nombre </label>
  <input class="form-control" type="text" id="nombre" name="name">
    <label for="exampleInputEmail1"> Email </label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="mail">

    <label for="exampleFormControlTextarea1">¿A qué te dedicas?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
    <br>
  <button style="color:white" class="btn btn-yellow pt-2 pb-2 btn-lg btn-block galery-brand" type="submit">Unirse</button>

</form>
</div><br>
</div>
  <div id="tramo">
    </div>

{% endblock container %}