{% extends 'base.html' %}
{% load static %}
{% block titulo %}
        <title>Eventos</title>
{% endblock titulo %}
{% block carousel %}
<main id="main">
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src={% static 'images/eventos1.jpeg' %} class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src={% static 'images/even5.jpeg' %} class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src={% static 'images/eventos2.jpeg' %} class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src={% static 'images/even6.jpeg' %} class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src={% static 'images/even7.jpeg' %} class="d-block w-100" alt="...">
            </div>
            <div class="overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col text-center">
                            <h1>Comunidad Cristiana</h1>
                            <p class="d-none d-md-block"> No hay días malos, solo días en los que tenemos que aprender a confiar más en Dios.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock carousel %}
{% block publicidad %}

{% endblock publicidad %}
{% block container %}
<div id="tramo1">
</div>
<div class="eventos">
<section class="work contenedor pb-5" id="trabajo" >
                <h3 style="color:#FFF">&nbsp;</h3>
                <h3 style="color:#FFF">Eventos                    </h3>
                <h5 style="color:#FFF">Cuando tus rodillas toquen el suelo, tu corazón tocará el cielo.</h5>
                <p style="color:#FFF">&nbsp;</p>
<form action="" method="post">
<button type="submit" class=".btn-outline-*-primary btne ">Todos   </button> 
<button type="submit" class=".btn-outline-*-secondary btne">Eventos Espirituales </button>
<button type="submit" class=".btn-outline-*-success btne">Eventos sociales</button> 
</form>







                <p>&nbsp;</p>
                <div class="galeria-work">
                    <!--Galeria Base de Datos-->
                    <div class="cont-work seminario">
                        <div class="img-work">
                        <p style="color:#000">Eventos Espirituales</p>
                            <img src={% static 'images/nature1.jpeg' %} alt="">
                            
                            <div class="hover-galeria">
                                <h4>Seminario
                                    de
                                    Perdón<br>
                                    Junio 19, 2020</h4>
                                <p>Lugar: Iglesia</br>
                                    Invitado: ------</br>
                                    Hora: 19h30</br>
                                    Descripción: General</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cont-work encuentro">
                        
                        <div class="img-work">
                        <p style="color:#000">Eventos Espirituales</p>
                            <img src={% static 'images/nature1.jpeg' %} alt="">
                            
                            <div class="hover-galeria">
                           
                                <h4>Encuentro
                                    de
                                    Padres <br>
                                    Junio 20, 2020</h4>
                                <p>Lugar: Iglesia</br>
                                    Invitado: ------</br>
                                    Hora: 19h30</br>
                                    Descripción: General</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cont-work retiro">
                        
                        <div class="img-work">
                         <p style="color:#000">Eventos Espiritules</p>
                            <img src={% static 'images/nature1.jpeg' %} alt="">
                            
                            <div class="hover-galeria">
                            
                                <h4>Retiro
                                    de 
                                    Jovenenes<br>
                                    Julio 06, 2020</h4>
                                <p>Lugar: Iglesia</br>
                                    Invitado: ------</br>
                                    Hora: 19h30</br>
                                    Descripción: General</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cont-work seminario">
                        <div class="img-work">
                        <p style="color:#000">Eventos Sociales</p>
                            <img src={% static 'images/nature1.jpeg' %} alt="">
                            
                            <div class="hover-galeria">
                            
                                <h4>Seminario
                                    de
                                    Perdón<br>
                                    Junio 19, 2020</h4>
                                <p>Lugar: Iglesia</br>
                                    Invitado: ------</br>
                                    Hora: 19h30</br>
                                    Descripción: General</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cont-work seminario">
                    
                        <div class="img-work">
                        <p style="color:#000">Eventos Sociales</p>
                            <img src={% static 'images/nature1.jpeg' %} alt="">
                            
                            <div class="hover-galeria">
                            
                                <h4>Seminario
                                    de
                                    Perdón<br>
                                    Junio 19, 2020</h4>
                                <p>Lugar: Iglesia</br>
                                    Invitado: ------</br>
                                    Hora: 19h30</br>
                                    Descripción: General</p>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="cont-work seminario">
                        <div class="img-work">
                        <p style="color:#000">Eventos Sociales</p>
                            <img src={% static 'images/nature1.jpeg' %} alt="">
                            
                            <div class="hover-galeria">
                            <p>Eventos Sociales</p>
                                <h4>Seminario
                                    de

                                    Perdón<br>
                                    Junio 19, 2020</h4>
                                <p>Lugar: Iglesia</br>
                                    Invitado: ------</br>
                                    Hora: 19h30</br>
                                    Descripción: General</p>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
    
                    
                    
                </div>
            </section>

</div>
 <div id="tramo1">
</div>
{% endblock container %}