{% extends 'base.html'%}
{% load static %}
{% block titulo %}
        <title>Com. Cris. "La Magdalena" | Grupos</title>
{% endblock titulo %}
{% block carousel %}
<main id="main">
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src={% static 'images/grupocarru2.jpeg' %} class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src={% static 'images/grupocarru1.jpeg' %} class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src={% static 'images/grupocarru3.jpeg' %} class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src={% static 'images/grupocarru4.jpeg' %} class="d-block w-100" alt="...">
                </div>
                <div class="overlay">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col text-center">
                                <h1 class="titulo_fonts">Grupos</h1>
                                <p class="d-none d-md-block subtitulo_fonts">Eres parte de nuestra familia.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock carousel %}
{% block publicidad %}

{% endblock publicidad %}
{% block container %}
  <div class="grupos">


    <div id="tramo">
    </div>
	<div class="fondo esp">
    <div class="titt">

	<p align="center"><h2 class="titulo_fonts">Nuestros grupos te ayudarán a integrarte a la comunidad</h2></p></div>

    
{% for i in grupos  %}
    <div class="opacityy opacityyy">

        <div class="row ml-58 mr-58">
        
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src={{i.group_image.url}} alt="Card image cap">

                      <div class="card-body">
                          
                          <h5 class="card-title texto_fonts" align="center"> {{i.name}}</h5>
                          <p class="texto_fonts">Lugar Reunión: {{i.direction}} </p>
	                        <p class="texto_fonts">Responsable: {{i.responsible_person}}</p>
                          <p class="texto_fonts">Frecuencia: {{i.frequency}} </p>
	                        <p class="texto_fonts">Dia: {{i.date}}</p>
                          <p class="texto_fonts">Hora Inicio: {{i.initial_hour}} </p>
                          <p class="texto_fonts">Hora Fin: {{i.finish_hour}} </p>
	                        <p class="texto_fonts">Colaboradores:{{i.collaborators}} </p>

                      </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
              
    </div>


  <main id="main" class="gal_cont pt-5 pb-5">
    <h2 class="text-center subtitulo_fonts pb-5">Galeria de nuestros eventos</h2>
    <div class="container">
      <div class="row">
      {% for foto in galeria %}
        <div class="col col-lg-4 col-md-4 ">
          <img  src="{{ foto.image.url }}" alt="{{ foto.title }}" style="height:500px; width:400px; object-fit: cover;">
        </div>
      {% endfor %}

      </div>
    </div>
    

  </main> 

 <div id="tramo1">
</div>
{% endblock container %}
