{% extends 'base.html' %} 
{% load static %} 
{% block titulo %}
<title>Oración</title>
{% endblock titulo %} 
{% block carousel %}
<main id="main">
  <div
    id="carousel"
    class="carousel slide carousel-fade"
    data-ride="carousel"
    data-pause="false"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src={% static 'images/oracion1.jpeg' %} class="d-block w-100"
        alt="...">
      </div>
      <div class="carousel-item">
        <img src={% static 'images/oracion3.jpeg' %} class="d-block w-100"
        alt="...">
      </div>
      <div class="carousel-item">
        <img src={% static 'images/oracion5.jpeg' %} class="d-block w-100"
        alt="...">
      </div>
      <div class="carousel-item">
        <img src={% static 'images/oracion7.jpeg' %} class="d-block w-100"
        alt="...">
      </div>
      <div class="overlay">
        <div class="container">
          <div class="row align-items-center">
            <div class="col text-center">
              <h1>Oraciones</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock carousel %} 
{% block publicidad %} 
{% endblock publicidad %} 
{% block container %}
<div class="oracion" id="oracion">
  <div id="tramo"></div>

  <div id="tramo2"></div>

  <div class="container esp">
    <!--INICIO-->
    {% if oracion %}
    <div class="row">
      
      {% for i in oracion %}
        <div class="card-deck w-100">
        <div class="card">
          <div class="card-bodyptt">
            <h5 class="card-titlep p-2" align="center" style="color:#F1BE38">{{ i.title }}</h5>
            <div class="col-xl-4"><span>Pedido por:</span> {{ i.name_person }}</div>
            <div class="col-xl-4"><span>Fecha de Petición:</span> {{ i.creation_date }} </div>
            <p class="card-textpt p-3" align="justify" >{{ i.description }}</p>
          </div>
        </div>
      </div>
        <div id="tramo2"></div>
      {% endfor %}
    </div>

    <div>
      <h5 align="center" style="color: #000;">Página {{oracion.number}} de {{paginator.num_pages}}</h5>
      <br />
      <nav class="peticiones-pagination mb-5">
        <center>
          {% if oracion.has_previous %}
            <a class="btn btn-outline-primary" href="?page={{oracion.previous_page_number}}#oracion">Atras</a>
          {% endif %}
            <a class="btn btn-outline-primary" href="?page={{oracion.number}}#oracion">{{oracion.number}}</a>
          {% if oracion.has_next  %}
            <a class="btn btn-outline-primary" href="?page={{oracion.next_page_number}}#oracion">Siguiente</a>
          {% endif %}
        </center>
        
      </nav>

    </div>
    {% else %}
      <div class="blog-post blog text-center">
        <h2 class="blog-post-title my-5">No hay oraciones disponibles</h2>
      </div>
    {% endif %}
    
  </div>
</div>
<div id="tramo"></div>
{% endblock container %}
