{% extends 'base.html' %} 
{% load static %} 
{% block titulo %}
<title>Petición</title>
{% endblock titulo %} 
{% block carousel %}
<main id="main">
  <div
    id="carousel"
    class="carousel slide carousel-fade"
    data-ride="carousel"
    data-pause="false"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src={% static 'images/bg-01.jpg' %} class="d-block w-100"
        alt="...">
      </div>
      <div class="carousel-item">
        <img src={% static 'images/peticionesc1.jpg' %} class="d-block w-100"
        alt="...">
      </div>
      <div class="carousel-item">
        <img src={% static 'images/peticiones2.jpg' %} class="d-block w-100"
        alt="...">
      </div>
      <div class="carousel-item">
        <img src={% static 'images/peticiones3.jpg' %} class="d-block w-100"
        alt="...">
      </div>
      <div class="overlay">
        <div class="container">
          <div class="row align-items-center">
            <div class="col text-center">
              <h1>Peticiones</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock carousel %} 
{% block publicidad %} 
{% endblock publicidad %} 
{% block container %}
<div class="peticionesm" id="peticiones">
  <div id="tramo"></div>

  <div id="tramo2"></div>

  {% if peticion %}
  <div class="container esp">

    <div class="row">
      {% for i in peticion  %}
      <div class="card-deck w-100">
        <div class="card">
          <div class="card-bodyptt">
            <h5 class="card-titlep p-2" align="center" style="color:#F1BE38">{{ i.title }}</h5>
            <div class="col-xl-4 text-light"><span>Pedido por:</span> {{ i.name_person }}</div>
            <div class="col-xl-4 text-light"><span>Fecha de Petición:</span> {{ i.creation_date }} </div>
            <p class="card-textpt p-3" align="justify" >{{ i.description }}</p>
          </div>
        </div>
      </div>

      <div id="tramo2"></div>

      {% endfor %}
      
    </div>

    <!--dos primeras-->
    

    <div>
      <h5 align="center" style="color: #000;">Página {{peticion.number}} de {{paginator.num_pages}}</h5>
      <br />
      <nav class="peticiones-pagination mb-5">
        <center>
          {% if peticion.has_previous %}
            <a class="btn btn-outline-primary" href="?page={{peticion.previous_page_number}}#peticiones">Atras</a>
          {% endif %}
            <a class="btn btn-outline-primary" href="?page={{peticion.number}}#peticiones">{{peticion.number}}</a>
          {% if peticion.has_next  %}
            <a class="btn btn-outline-primary" href="?page={{peticion.next_page_number}}#peticiones">Siguiente</a>
          {% endif %}
        </center>
        
      </nav>

    </div>
  </div>  
  {% else %}
    <div class="blog-post blog text-center">
      <h2 class="blog-post-title my-5">No hay peticiones disponibles</h2>
    </div>
  {% endif %}
  <div id="tramo"></div>
</div>
<div id="tramo"></div>
{% endblock container %}
