<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'CSS/index.css' %}>
    <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href={% static 'CSS/util-contact.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'CSS/main-contact.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'CSS/publicidad.css' %}>
    


    {% block titulo %}
        <title>Comunidad Cristiana</title>
    {% endblock titulo %}
</head>

<body>
    <!--Inicio Navbar-->
    {% include 'nav.html' %}
    <!--Fin Navbar-->

    <!-- Inicio Carousel -->
    {% block carousel %}
    <main id="main">
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src={% static 'images/carruindex1.jpeg' %} class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src={% static 'images/cruzcarro.jpg' %} class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src={% static 'images/biblia1.jpg' %} class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src={% static 'images/carruindex.jpeg' %} class="d-block w-100" alt="...">
                </div>
                <div class="overlay">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col text-center">
                                <h1 class="titulo_fonts">Comunidad Cristiana</h1>
                                <p class="d-none d-md-block subtitulos_fonts">Prepárate porque Dios ha escuchado tus Oraciones... Lo que viene es grande!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock carousel %}
    <!--Fin Carousel -->
	
	<!--publicidad-->
    {% block publicidad %}
    <div class="publicidad">
		<ul class="texto_fonts">
			<li><a class="texto_fonts" href="{% url 'Post:Edificadores' %}">Únete a mi Muro</a></li>
			<li><a class="texto_fonts" href="{% url 'Post:Recursos' %}">Peticiones/Oraciones</a></li>
            
		</ul>
	</div>
    {% endblock %}
	<!--publicidad-->

    <!--Inicio últimas publicaciones-->
    {% block container %}
      <div id="tramo1">
    </div>
    <section class="pt-4 pb-4" id="publicaciones" style="background-image:url({% static 'backgrounds/Backgrounds-06.png' %})">
        <div class="esp">
            <div class="container ">
                <h2 align="center" class="titulo_fonts"><b>Eventos Más Cercanos</b></h2><br><br><br>
                <div class="row">
                        
                        <div class="col-md well pt-2 pb-4">
                          <a href="{% url 'Post:Eventos' %}"><img src={{ultimo.image_ev.url}} width="90%" height="60%" class="mediana zoom"><br></a>
                            <br>
                    <div class="letra">
                        <h4 align="center" class="texto_fonts">Vida en familia</h4>
                    </div>
                    <br>
                    <p align="center" class="texto_fonts">El plan de Dios para el matrimonio y la paternidad, junto con herramientas prácticas y bíblicas implementarlo</p>
                        </div>
                        
                        <div class="col-md well pt-2 pb-4">
                           <a href="{% url 'Post:Eventos' %}"><img src={{penultimo.image_ev.url}} width="96%" height="72%" class="mediana zoom"></a> <br><br>
                    <div class="letra">
                        <h4 align="center" class="texto_fonts">Misiones en zonas urbanas y rurales.</h4>
                    </div><br>
                    <p align="center" class="texto_fonts">Un llamado específico a servir a quienes más lo necesitan.</p></div>
                    </div>

            </div>
        </div>
     
    </div>
    </section>

        <div id="tramo1">
        </div>
    
    {% endblock %}
    <!--Fin Galeria -->

    <!--INICIO FOOTER -->

    {% include 'footer.html' %}



    <!--FIN FOOTER -->
    <script src="https://kit.fontawesome.com/7b69db723f.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        $(window).scroll(function() {
            if ($("#navbarcc").offset().top > 532) {
                $("#navbarcc").addClass("c_color");
            } else {
                $("#navbarcc").removeClass("c_color");
            }
        });
    </script>


</body>

</html>