{% extends 'index.html' %}
    {%block title%}
    Eventos
    {%endblock title%}
    {% block content %}
        {% for i in eventos %}
                <p>Descripción: {{i.description}}</p>
                <p>Día: {{i.event_date}}  Hora: {{i.event_time}}</p>
                <p>Calle principal: {{i.primary_street}}</p>
                <p>Calle secundaria: {{i.secondary_street}}</p>
                <p>Número de casa: {{i.house_number}}</p>
                <p>Fecha: {{i.event_date}}</p>   
                <p>Ciudad: {{i.city}}</p>   
                <img src="{{i.image_ev.url}}" alt="{{i.description}}" width="10%"/>
                  
                </br>
            
            
            
        {% endfor %}
    {% endblock content %}

