    {% load static %}
    <link href={% static 'social_icons_from_Techandallcom.css' %} rel="stylesheet" />

    <footer id="footer" class="pt-1 pb-1">
        <div class="container">
            <div class="row mb-0">
                <div class="col-md-3 mb-5 col-xl-6">
                    <h3 align="center"><b>Comunidad Cristiana</br>"La Magdalena"</b></h3>
                    <p align="justify">Familia que quiere ayudar a la comunidad sin fines de lucro. Familia que quiere ayudar a la comunidad sin fines de lucro.Familia que quiere ayudar a la comunidad sin fines de lucro.Familia que quiere ayudar a la comunidad sin fines
                        de lucro.</p>
                </div>


                <div class="col-md-3 mb-5 col-xl-2 offset-xl-0">
                    <h3 align="center">Más Sobre Nosotros</h3>
                    <ul class="lista_mas">
						<div align="center">
                        <li><a href="#">Recursos</a></li>
                        <li><a href="#">Ministerios</a></li>
                        <li><a href="#">Eventos</a> </li>
                        <li><a href="#">Contactanos</a> </li>
						</div>
                    </ul>
                </div>


                <div class="col-md-0 mb-5 col-xl-4 offset-xl-0">
                    <h3 align="center">Contactos</h3>
                    <ul class="list-unstyled footer-link">
                        <li class="d-block offset-xl-4">
                            <span class="d-block ">Direccion:</span>
                            <span class="text-white ">Calle n76 y Calle n85</span></li>
                        <li class="d-block offset-xl-4"><span class="d-block">Telefono:</span><span class="text-white">(02)2475213</span></li>
                        <li class="d-block offset-xl-4"><span class="d-block">Email:</span><span class="text-white">info@email.com</span></li>
                    </ul>
                </div>


                <div class="col col-xl-4 pb-2 offset-xl-5" align="center">
                    <div class="social-icons">
                        <ul class="col-xl-10">
                            <li class="twitter" style="background-color: #F1BE38">
                                <a href="http://www.twitter.com" target="_blank">Twitter</a>
                            </li>

                            <li class="facebook" style="background-color: #F1BE38">
                                <a href="http://www.twitter.com" target="_blank">Facebook</a>
                            </li>

                            <li class="youtube" style="background-color: #F1BE38">
                                <a href="http://www.twitter.com" target="_blank">YouTube</a>
                            </li>

                            <li class="googleplus" style="background-color: #F1BE38">
                                <a href="http://www.twitter.com" target="_blank">Google +r</a>
                            </li>

                            <li class="pinterest" style="background-color: #F1BE38">
                                <a href="http://www.twitter.com" target="_blank">Pinterest</a>
                            </li>


                            <li class="linkedin" style="background-color: #F1BE38">
                                <a href="http://www.twitter.com" target="_blank">LinkedIN</a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>


    </footer>