<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

	<form method="POST">
    {% csrf_token %}
    {% if error %}
    <p> {{ error }} </p>
    
    {% endif %}
<label class="label-input100" for="first-name">Ingresa tú Nombre y Apellido *</label>
    <input type="text" name="name" value="Ingrese nombre">
	<label class="label-input100" for="first-name">Ingresa tú Nombre y Apellido *</label>
    <input type="text" name="surname">
	<label class="label-input100" for="first-name">Ingresa tú Nombre y Apellido *</label>
    <input type="text" name="mail">
	<label class="label-input100" for="first-name">Ingresa tú Nombre y Apellido *</label>
    <input type="text" name="message">


    <button type="submit">Enviar</button>


</form>
    
</body>
</html>