<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Formulario</title>
</head>
<body>
    <h1>HOLA PDFS XD</h1>

    {% for i in recursos %}
        <a download="{{ i.title }}" href="{{ i.pdf.url }}" >{{ i.title }}</a>
    <a download="{{ i.title }}" href="{{ i.pdf.url }}" >Descargar</a>
    
    {% endfor %}




    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ datos.name_person.label }}
            <input type="text" name="name_person" id="">
        </div>
        <div class="form-group">
            {{ datos.mail_persona.label }}
            <input type="text" name="mail_persona" id="">
        </div>
        <div class="form-group">
            {{ datos.section_category.label }}
            {{ datos.section_category }}
        </div>
        <div class="form-group">
            {{ datos.title.label }}
            <input type="text" name="title" id="">
        </div>
        <div class="form-group">
            {{ datos.description.label }}
            <input type="text" name="description" id="">
        </div>

        <button type="submit">Enviar</button>
    </form>
    

<!--Prueba FORM-->

  <form method="POST" class="formstyle">
        {% csrf_token %}
        <div class="form-group">
            <label> Nombre </label>
            <input class="form-control" type="text" id="nombre" name="name_person">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" name="mail_persona"> Email </label>
            <input  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="mail_persona">
        </div>
        <div class="form-group">
            <label> Petición/Oración</label>
            {{ datos.section_category }}
        </div>
        <div class="form-group">
            <label> Título </label>
            <input  class="form-control" type="text" id="titulo" name="title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Escriba aquí</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  name="description"></textarea>

        </div>
        <br>
        <button type="submit" style="color:white" class="btn btn-yellow pt-2 pb-2 btn-lg btn-block galery-brand">Enviar</button>
    </form>  


    
</body>
</html>