/*VARIABLES*/

:root {
    --NAVBAR: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
    --SECTION1: #062038;
    --SECTION1_CONTAINER_FOTOS: rgb(193, 199, 205);
    --SECTION2: #041625;
    --COLOR_LETRA: #c0c5c9;
    --FOOTER: #020B13;
}

.navbar {
    background: VAR(--NAVBAR);
    box-shadow: 0 2px 4px 0;
    min-height: 6px;
}

.navbar-brand {
    color: VAR(--COLOR_LETRA);
}

.navbar-brand:hover {
    color: VAR(--COLOR_LETRA);
}

.nav-link {
    color: VAR(--COLOR_LETRA);
}

.nav-link:hover {
    color: VAR(--COLOR_LETRA);
}

ion-icon {
    color: VAR(--COLOR_LETRA);
}


/*-------------------------CSS PUBLICACIONES*/

#publicaciones {
    background-color: var(--SECTION1);
    color: VAR(--COLOR_LETRA);
}

.card-color {
    background-color: var(--SECTION1_CONTAINER_FOTOS);
	border: 0px;
	
}

#galeria {
    background-color: var(--SECTION2);
}


/*-------------------------------CSS CAROUSEL - MAIN */

#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(30%);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--COLOR_LETRA);
    background-color: rgba(0, 0, 0, 0.5);
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}


/*-------------------------------CSS FIN CAROUSEL*/

#footer {
    /*background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);*/
    background-color: VAR(--FOOTER);
}

#footer div {
    color: VAR(--COLOR_LETRA);
}

#footer a {
    color: VAR(--COLOR_LETRA);
}


/*-------------------------------INICIO CSS CONTACT*/

.header {
    color: VAR(--COLOR_LETRA);
    font-size: 27px;
    padding: 8px;
}

.bigicon {
    font-size: 20px;
    color: VAR(--COLOR_LETRA);
}

.dir-contacto {
    padding-top: 2px;
    font-size: 15px;
    color: VAR(--COLOR_LETRA);
}

.body {
    background: var(--SECTION1);
    border: 1px solid black;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/*-------------------------------FIN CSS CONTACT*/