
.publicidad {
position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
left: 0; /* Establecemos la barra en la izquierda */
top: 550px; /* Bajamos la barra 200px de arriba a abajo */
z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
.publicidad ul {
list-style: none;
}
 
.publicidad ul li a {
display: inline-block;
color:black;
background: #FFC107;
border-bottom: 2px solid black;
border-right: 2px solid black;
border-top: 2px solid black;
padding: 5px 10px;
margin-bottom: 2px;
text-decoration: none;
-webkit-transition:all 500ms ease;
-o-transition:all 500ms ease;
transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}
 
 
.publicidad ul li a:hover {
background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
	color: white;
padding: 15px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	border-top: 2px solid white;
}